* {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

body {
  background-color: rgba(51, 111, 223, 0.801);
}

main {
  background-color: aliceblue;
  width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.473);
}
